.photo-grid__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  list-style: none;
  gap: 16px;

  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-columns: minmax(min-content, max-content);
}




@media screen and (min-width: 1279px) {
  .photo-grid__list {
    max-width: 1280px;
    justify-self: center;
  }
}

@media screen and (min-width: 1005px) and (max-width: 1278px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (min-width: 609px) and (max-width: 1005px) {
  .photo-grid__list {
    gap: 16px;
  }
}

@media screen and (min-width: 1px) and (max-width: 608px) {
  .photo-grid {
    gap: 12px;
  }
}
