.places {
  display: grid;
  grid-area: places;
  margin: 0;
  padding: 92px 0 92px;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding: 88px 0 90px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 50px;
    padding: 64px 0 66px;
  }
}
