.intro__list {
  margin: 0;
  padding: 31px 0 0;
  max-width: 690px;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    padding: 33px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    padding: 34px 0 0;
  }
}
