.cover__subtitle {
  justify-self: center;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 360px;
  position: relative;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    max-width: 288px;
    }
}
