.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 16px 0;
    flex-wrap: nowrap;
  }
}

