.header__link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 117%;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 330px) {
  .header__link {
    font-size: 18px;
    line-height: 111%;
  }
}
