.lead__subtitle {
  display: flex;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 32px 0 64px;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    padding: 32px 0 56px;
  }
}

@media screen and (max-width: 678px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    padding: 16px 0 40px;
  }
}
