.place__url-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  /*в макете Figma для этого элемента на 1280 и 1024 значение 170%,
   а на 768 и 320 значение 100%, по крайней мере в макетах которые нам дали*/
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 100%;
  }
}
