.place__website {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: start;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding: 0 16px;
  }
}
